.course-container {
    margin-top: 40px;
}
.course-title {
    background-color: var(--darkness);
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

/* MEDIA QUERIES */
@media (min-width: 500px) {
    .course-title {
        text-align: start;
        padding: 2px 0 2px 10px;
    }
}
@media (min-width: 768px) {
    .course-title {
        padding: 2px 0 2px 20px;
    }
}
@media (min-width: 900px) {
    .course-title {
        padding: 2px 0 2px 60px;
    }
}