.desactive {
    display: none !important;
}

/* FONDO CONTENEDOR */
.login-container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: var(--secundario);
}
.login-container::before {
    content: "";
    position: fixed;
    height: 200px;
    width: 200px;
    background: rgb(0, 255, 255);
    filter: blur(140px);
}
.login-container::after {
    content: "";
    position: fixed;
    top: 200px;
    left: 250px;
    height: 200px;
    width: 200px;
    background: rgb(183, 0, 255);
    filter: blur(140px);
}
.bg-circle1 {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 200px;
    width: 200px;
    background: rgb(0, 255, 255);
    filter: blur(140px);
}
.bg-circle2 {
    position: fixed;
    bottom: 100px;
    right: 250px;
    height: 200px;
    width: 200px;
    background: rgb(183, 0, 255);
    filter: blur(150px);
}

/* TITULO */
.title-link {
    text-decoration: none;
}
.title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* FORMULARIO */
.form-title {
    color: var(--primario);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 50px;
}
.form-icon {
    color: var(--primario);
    font-size: 50px;
    animation: rotation 8s linear 1s infinite;
}
.form-container {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.form-login {
    padding: 55px 120px 20px 120px;
    display: flex;
    flex-direction: column;
}
.form-login label {
    color: var(--white);
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 5px;
}
.form-input {
    margin-bottom: 10px;
    padding: 8px 15px;
    outline: transparent solid 2px;
    border-radius: 10px;
    border: 2px solid rgba(32, 2, 42, 0.4);
}
#email {
    margin: 0 0 40px 0;
}
.form-info {
    font-size: 10px;
    color: var(--primario);
    margin-bottom: 40px;
}
.form-alert-container {
    max-width: 100vw;
}

.form-alert {
    padding: 30px 10px;
    color: var(--white);
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    overflow-wrap: anywhere;
}


/* BOTON ENVIAR */
.btn-submit {
    background: var(--primario-ligth);
    color: var(--dark);
}
.btn-submit:hover {
    background: linear-gradient(61deg,rgb(216, 213, 213) 1%,#84f4ee 85%,#f7f8f8 90%) 0 0 /100% 100% no-repeat;
    color: var(--dark);
}

/* PIE DE PAGINA  */
.text-register {
    text-align: center;
    color: var(--white);
    font-size: 14px;
    margin-bottom: 70px;
}
.text-register a {
    text-decoration: none;
    color: #4defa7;
}
.copyrigth {
    text-transform: capitalize;
    color: var(--white);
    font-size: 16px;
}

/* IMAGEN */
.img-container {
    display: flex;
    background-image: url('../../images/login.jpg');
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 150px;
    background-size: cover;
    background-position: start center;
}

/* MEDIA QUERIES */
@media (max-width: 300px ) {
    .title-container {
        flex-direction: column;
        padding: 40px 0 0 0;
    }
    .form-login {
        padding: 20px 120px 50px 120px;
    }
}   
@media screen and (max-width: 1000px) {
    .login-container {
        justify-content: center;
        align-items: center;
    }
    .img-container {
        display: none;
    }
    .form-container {
        min-width: 32rem;
        width: 20rem;
    }
}

